---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
    <section class="grid_1-1">
    <h1>BUTIKKER</h1>
    <img class="shoppicture" src="/imgs/farm.webp" alt="" />
  </section>
</MainLayout>
