---
import LokationCards from "../components/LokationCards.astro";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <section class="grid_1-1">
    <h1>BUTIKKER</h1>
    <img class="stolpicture" src="/imgs/stol.webp" alt="gårdillustration" />
  </section>

   <p>Leder du efter bagværk til firmaet eller private events og catering? <br> Kontakt en af vores butikker her:</p>

  <section class="grid_1-1-1">

<LokationCards 
image="/imgs/valby1.webp"
title="Valby"
adress="Valby langgade 185, 2500 Valby"
times="Man-fre 6.00 - 17.30 Lør-søn 6.00 - 16.30"
illustration="/imgs/blomst.webp"
link="/locations/valby"
/>
<LokationCards 
image="/imgs/istedgade1.webp"
title="Vesterbro"
adress="Istedgade 120, 1650 KBH V"
times="Man-fre 6.00 - 17.30 Lør-søn 6.00 - 17.30"
illustration="/imgs/coffeepicture.webp"
link="/locations/vesterbro"
/>
<LokationCards 
image="/imgs/amager1.webp"
title="Amager"
adress="Amagerbrogade 72, 2300 KBH S"
times="Man-fre 6.30 - 17.30 Lør-søn 7.00 - 16.30"
illustration="/imgs/kurv.webp"
link="/locations/amager"
/>
<LokationCards 
image="/imgs/sydhavn1.webp"
title="Sydhavn"
adress="Borgbjergsvej 39 2450 KBH SV"
times="Man-fre 6.00 - 17.30 Lør-søn 7.00 - 16.30"
illustration="/imgs/kager.webp"
link="/locations/sydhavn"
/>
<LokationCards 
image="/imgs/enghave1.webp"
title="Enghave"
adress="Enghavevej 71, 1674 KBH V"
times="Man-fre 6.00 - 17.30 Lør-søn 6.00 - 17.30"
illustration="/imgs/blomst.webp"
link="/locations/enghave"
/>
  
  </section>

</MainLayout>


<style>

.grid_1-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stolpicture {
  max-width: 300px;
}

@media (min-width: 800px) {

.farmpicture {
  width: 250px;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

}

</style>