---
import MainLayout from "../layout/MainLayout.astro";
import "../style/style.css";
---

<MainLayout>
  <section class="grid_1-1">
    <h1>MENU</h1>
    <img class="farmpicture" src="/imgs/farm.webp" alt="gårdillustration" />
  </section>
</MainLayout>
