---
import MenukortCard from "../components/MenukortCard.astro";
import MainLayout from "../layout/MainLayout.astro";
import "../style/style.css";

// Menudata
const morgenmad = {
  title: "Morgenmad & Bagværk",
  image: "/imgs/menukort-img1.webp",
  items: [
    {
      ret: "Bolle med ost & valgfri kaffe",
      beskrivelse: "Friskbagt, økologisk surdejs-bolle med smør og lagret ost & valgfri kaffe.",
      pris: "45,-",
    },
    {
      ret: "Wienerbrød & valgfri kaffe",
      beskrivelse: "Sprødt, håndlavet wienerbrød. Inkl. valgfri kaffe.",
      pris: "48,-",
    },
    {
      ret: "Smurt bolle",
      beskrivelse: "Vores signatur surdejsbolle med øko-smør.",
      pris: "48,-",
    },
    {
      ret: "Microbrunch",
      beskrivelse: "Yoghurt med granola og bær, ost, kogt æg og lun bolle med smør og ost.",
      pris: "69,-",
    },
  ],
};

const frokost = {
  title: "Sandwich & Toast",
  image: "/imgs/menukort-img2.webp",
  items: [
    {
      ret: "Kylling & Karry Salat",
      beskrivelse: "Økokylling i hjemmelavet karrydressing med salat i surdejsbolle.",
      pris: "48,-",
    },
    {
      ret: "Laksesalat",
      beskrivelse: "Koldrøget laks i urtecreme med agurk og purløg i surdejsbolle.",
      pris: "48,-",
    },
    {
      ret: "Spicy tunsalat",
      beskrivelse: "Tunsalat med et strejf af chili og citron i surdejsbolle",
      pris: "48,-",
    },
    {
      ret: "Hjemmelavet humus (vegetarisk)",
      beskrivelse: "Humus med citron og spidskommen – serveret i vores friskbagte surdejsbolle med sprøde grøntsager.",
      pris: "48,-",
    },
    {
      ret: "Toast med Skinke & Ost",
      beskrivelse: "Smeltet økologisk ost og skinke i ristet brød.",
      pris: "48,-",
    },
    {
      ret: "Toast med Kylling, Ost & Chili",
      beskrivelse: "Fyldig toast med kylling, ost og et strejf af chili.",
      pris: "48,-",
    },
    {
      ret: "Toast med Pesto, tomat og mozarella (vegetarisk)",
      beskrivelse: "Basilikumpesto, tomat og smeltet mozzarella i ristet brød.",
      pris: "48,-",
    },
  ],
};

const kaffe = {
  title: "Kaffe",
  image: "/imgs/menukort-img3.webp",
  items: [
    { ret: "Espresso", pris: "28,-" },
    { ret: "Americano", pris: "30,-" },
    { ret: "Latte", pris: "42,-" },
    { ret: "Cappuccino", pris: "42,-" },
    { ret: "Flat White", pris: "42,-" },
    { ret: "Iskaffe", pris: "45,-" },
    { ret: "Varm Kakao", pris: "45,-" },
    { ret: "Chai Latte", pris: "45,-" },
  ],
};
---

<MainLayout>
  <section class="intro">
    <h1>VORES MENU</h1>
    <h3 class="h1-tagline">Serveres hele dagen</h3>
  </section>

  <!-- <h1>MENUKORT</h1>
  <p class="h1-tagline">Serveres hele dagen</p> -->

  <MenukortCard {...morgenmad} />
  <MenukortCard {...frokost} reverse={true} />
  <MenukortCard {...kaffe} />

  <!-- <MenukortCard {...morgenmad} />
<MenukortCard {...frokost} reverse={true} />
<MenukortCard {...kaffe} /> -->
</MainLayout>

<style>
  .intro {
    margin-top: 4rem;
    text-align: left;
    padding: 0 1rem;
  }
  /* .opening-hours {
    font-size: var(--font-size-h5);
    margin-bottom: 2rem;
  } */
</style>

<script is:inline>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("visible");
        }
      });
    },
    { threshold: 0.2 }
  );

  document.querySelectorAll(".card").forEach((card) => {
    card.classList.add("fade-in");
    observer.observe(card);
  });
</script>
