body {
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #fffdf5;
}

main,
header > nav,
footer > * {
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
  background-color: #fffdf5;
}

main {
  padding-inline: 2rem;
}
