body {
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main,
header > nav,
footer > * {
  width: 100%;
  max-width: 1120px;
  margin-inline: auto;
}

main {
  padding-inline: 2rem;
}
