@import "reset.css";
@import "layout.css";

/****** Fonts ******/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100..900&family=Raleway:wght@100..900&display=swap");
@import url("https://use.typekit.net/tcb1jhn.css");

/****** Global Styling ******/
:root {
  /* Farver */
  --color-primary: #fffdf5;
  --color-secondary: #f9aa16;
  --color-accent: #69733d;
  --color-white: #ffffff;
  --color-text: #1c1c1c;
  --color-grey: #242424;

  /* Udvidet farvesystem */
  --color-secondary-2: #fff7d6;
  --color-secondary-3: #feecaa;
  --color-secondary-4: #fddb74;
  --color-secondary-5: #f9aa17;
  --color-secondary-6: #ab9e90;
  --color-secondary-7: #9a5512;
  --color-secondary-8: #7c4712;
  --color-secondary-9: #432307;

  --color-accent-2: #f6f7ee;
  --color-accent-3: #ebecdb;
  --color-accent-5: #879250;
  --color-accent-6: #505932;
  --color-accent-7: #42482c;
  --color-accent-8: #393f27;
  --color-accent-9: #1d2112;

  /* Typografi */
  --font-heading: "Bebas Neue", sans-serif;
  --font-tagline: "Raleway", sans-serif;
  --font-base: "nimbus-sans", sans-serif;

  /* Størrelser */
  --font-size-h1: clamp(2.8rem, 7vw, 4.5rem);
  --font-size-h2: clamp(0.8rem, 4vw, 1rem);
  --font-size-h3: clamp(0.6rem, 4vw, 0.8rem);
  --font-size-p: clamp(0.4rem, 1.4vw, 0.5rem);
  --font-size-p-small: clamp(0.8rem, 1.2vw, 1rem);

  /* Vægte */
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
  --font-weight-heavy: 700;

  /* Linjehøjde */
  --line-height-s: 1.1;
  --line-height-m: 1.5;
  --line-height-l: 1.75;

  /* Spacing */
  --spacing-1: 0.3rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
  --spacing-4: 3rem;
  --spacing-5: 4rem;
  --spacing-6: 6rem;
  --spacing-section: 8rem;
}

/* --------- Typografi --------  */

nav {
  font-family: var(--font-tagline);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semibold);
  margin: 0;
}

/* Headings */

h1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-heavy);
  line-height: var(--line-height-s);
  color: var(--color-secondary);
  letter-spacing: 0.5px;
  margin-bottom: var(--spacing-1);
}

.h1-tagline {
  font-family: var(--font-tagline);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: var(--spacing-3);
}

h2 {
  font-family: var(--font-tagline);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-s);
  color: var(--color-grey);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-1);
}

h3 {
  font-family: var(--font-tagline);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semibold);
  color: var(--color-light-grey);
  /* margin-top: var(--spacing-1); */
  margin-bottom: var(--spacing-1);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Paragraphs */

p {
  font-family: var(--font-base);
  font-size: var(--font-size-p-small);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-m);
  color: var(--color-text);
  margin-bottom: var(--spacing-2);
  max-width: 70ch;
}

/* --------- Links -------- */

a {
  color: var(--color-text);
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-secondary);
}

/* --------- Header -------- */

nav {
  /* background-color: var(--color-secondary-2); */
  border-bottom: 2px solid var(--color-secondary-2);
  padding: 2rem 1.5rem;
}

.menu a {
  padding: 50px;
  color: var(--color-accent-9);
  text-decoration: none;
  transition: color 0.3s, text-decoration-thickness 0.3s ease;
  text-decoration-thickness: 0;
}

.menu a:hover {
  color: var(--color-secondary);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

/* --------- Footer -------- */

/* Footer */

.site-footer {
  font-family: var(--font-tagline);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semibold);
  border-top: 2px solid var(--color-secondary-2);
}

.footer-column a {
  color: var(--color-accent-9);
  text-decoration: underline;
  text-underline-offset: 4px;
}
.footer-column a:hover {
  color: var(--color-secondary);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.footer-titel {
  font-family: var(--font-tagline);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semibold);
}

.footer-titel-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* --------- Responsive Utilities -------- */

@media (min-width: 768px) {
  h1 {
    letter-spacing: 1px;
  }

  .site-footer {
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-5);
  }
}
