---
const { tekst, illustration, offset = false } = Astro.props;
---

<article class={`baeredygtighed-card ${offset ? "offset" : ""}`}>
  <img src={illustration} alt="" />
  <p>{tekst}</p>
</article>
<style>
  .baeredygtighed-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
    margin: auto;
    padding: 2rem;
    margin-bottom: 5rem;
  }

  .baeredygtighed-card.offset {
    transform: translateY(250px);
  }

  .baeredygtighed-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .baeredygtighed-card p {
    font-size: 1rem;
    line-height: 1.5;
  }

  @media (max-width: 768px) {
    .baeredygtighed-card.offset {
      transform: none;
    }
  }
</style>
