---

---

<header>
  <nav>
    <a href="/" class="logo">Logo</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/products">Products</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
  }

  nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem
  }

  ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
  }

  a.logo {
    font-weight: bold;
    font-size: 1.5rem;
  }

  a, p {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
</style>
